<div class="thumbnail-block">

  {{# projects }}
    <div class="thumbnail--block--item">
      <div class="thumbnail--item">
        <a href="{{ url }}" class="nav--links__project">
          {{> atoms-thumbnail }}
        </a>
      </div>
    </div>
  {{/ projects }}

</div>