<div class="project--container">

  <h1 class="project--title">burrito breakdown</h1>
  <h4 class="project--subtitle">writing, design, testing</h4>

  <p class="project--text">This is what my project is about</p>

  <blockquote class="project--quote">is this a thing????</blockquote>

  <img src="{{img.square.src}}"/>

</div>