body {
  @include body-copy();
  background-color: $color--background;
}

h1 {
  @include h1();
}

blockquote {
  font-style: italic;
  border-left: solid 3px $color--gray;
  margin-left: $spacing;
  padding-left: $spacing;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  line-height: 1.25em;
}

a {
  text-decoration: none;

  &:hover {
    background-color: $color--yellow;
    text-decoration: none;
  }
  &:active {
    font-weight: bold;
    background-color: $color--yellow;
  }
}