<div class="content clearfix">
  <div class="side clearfix">
    <div class="side--content">
      {{> molecules-sidemenu-nav }}
    </div>
  </div>

  <div class="main clearfix">
    <div class="main--content">
      {{> molecules-thumbnail-block }}
    </div>
  </div>
</div>